
@media (max-width: 1800px) {
	.partners {
		margin-bottom: 20px;
		&__items {
			gap: 15px;
		}
		&__item {
			width: 19%;
		}
	}
}
@media (max-width: 1350px) {
	.slider-top{
		max-height: 690px;
		&__body {
			height: 780px;
		}
		&__slide {
			margin-right: 0;
			padding: 0 30px;
		}
		&__info {
			max-width: 50%;
		}
		&__img {
			height: auto;
			max-width: 50%;
			margin-left: 0;
			&::before {
				content: "";
				width: 65%;
				height: 88%;
			}
			& img {
				height: 100%;
			}
		}
		&__title {
			font-size: 62px;
		}
	}
	.map {
		margin-top: 0;
	}
}
@media (max-width: 1200px) {
	.slider-top{
		max-height: 435px;
		margin-bottom: 125px;
		&__body {
			height: 500px;
		}
		&__img {
			height: 100%;
		}
		&__title {
			font-size: 62px;
		}
	}
	.inspiration {
		margin-bottom: 20px;
		&__inner {
			gap: 20px;
		}
	}
}
@media (max-width: 1100px) {
	.blog {
		&.breadcrumbs {
			margin-bottom: 25px;
		}
		&__inner {
			flex-direction: column-reverse;
		}
		&__items {
			width: 100%;
		}
		&__categories,
		&__post,
		&__categories-title,
		&__post-title,
		&__tags-title {
			margin-bottom: 15px;
		}
		&__categories-item, 
		.post__item-title {
			font-size: 14px;
		}
		&__post {
			width: 70%;
		}
		.post__item-date, 
		.post__item-author {
			font-size: 10px;
			line-height: 1.2;
		}
		&__tags {
			width: 100%;
			margin-bottom: 20px;
		}

	}
	.aside {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		column-gap: 15px;
		&__search {
			margin-bottom: 25px;
			width: 100%;
		}
	}
}
@media (max-width: $bp992) {
	.btn {
		padding: 6px 15px;
}
	//-----Header------ 
	.header__inner {
		min-height: 88px;
	}
	.menu {
		margin: 0 auto;
	}
	.breadcrumbs.gallery {
		padding: 14px 0;
	}
	//-----Header-End----- 
	.slider-top{
		max-height: 100%;
		margin-bottom: 60px;
		&__body {
			height: auto;
		}
		&__slide {
			padding: 40px 40px 80px;
			flex-direction: column-reverse;
		}
		&__info {
			width: 100%;
			max-width: 100%;
			text-align: center;
		}
		&__title {
			font-size: 40px;
			&::before {
				left: 50%;
				transform: translateX(-50%);
			}
		}
		&__controls {
			bottom: 40px;
			transform: translateX(-110%);
		}
	}
	.howitworks {
		padding: 60px 0 20px;
		&__title {
			margin-bottom: 40px;
		}
		&__items {
			position: relative;
		}
	
		&__items-box {
			flex-direction: column;
			min-height: 500px;
			justify-content: space-between;
			border-bottom: none;
			border-left: 2px solid rgba($color: $title, $alpha: 0.7);
			align-items: flex-start;
		}
		&__item {
			max-width: 100%;
			padding: 0px 0px 0px 30px;
			&::before {
				content: "";
				width: 20px;
				height: 2px;
				left: 0;
			}
			&--top {
				&:not(:first-child) {
					margin-left: 0;
				}
				&:first-child {
					margin-bottom: 100px;
				}
				&::before {
					bottom: 0;
					top: 0;
				}
			}
			&--bottom {
				position: absolute;
				margin-left: 0;
				top: 50%;
				transform: translateY(-50%);
				&::before {
					top: 0;
				}
			}
			&--mark {
				&::before {
					content: "";
					position: absolute;
					bottom: -6px;
					top: 0;
					left: -6px;
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background-color: $title;
				}
			}
			
		}
		&__item-title {
			margin: auto 10px;
		}
	
		&__item-text {
			margin-top: 10px;
		}
		
	}
	.gallery {
		padding: 40px 0px 60px;
		&__buttons {
			margin-bottom: 10px;
		}
		&__btn {
			margin: 0 5px 10px;
		}
		&__items {
			grid-gap: 15px 20px;
		}
		&.gallery-page {
			padding-top: 0;
			padding-bottom: 0;
			& .container-fluid {
				padding: 0 15px;
			}
		}
	}
	.blog-box {
		margin-bottom: 60px;
		&__items {
			grid-template-columns: 1fr;
			grid-gap: 30px;
		}
		&__links {
			font-size: 12px;
		}
		&__item-title-link {
			font-size: 17px;
		}
		&__item-img {
			width: 100%;
		}
		&__item-img-link {
			width: 100%;
			margin-bottom: 0;
		}
	}
	.page-prev {
		margin-bottom: 50px;
	}
	.page-prev .container {
		min-height: 250px;
	}
	.page-prev__title {
		font-size: 40px;
	}
	.about__title {
		font-size: 30px;
	}
	.about__content {
		margin-bottom: 60px;
	}
	.inspiration {
		min-height: 440px;
		&::before {
			height: 360px;
		}
		&__title {
			font-size: 25px;
		}
		&__img {
			height: auto;
			max-width: 40%;
			width: 50%;
		}
		&__text {
			margin-bottom: 30px;
			font-size: 14px;
		}
		&__list {
			margin-bottom: 30px;
		}
		&__item-content {
			font-size: 14px;
		}
	}
	.partners {
		&__items {
			flex-wrap: wrap;
		}
		&__item {
			width: 32%;
		}
	}
	.map {
		iframe {
			height: 350px;
		}
	}
	.contact {
		margin-bottom: 60px;
	}
	//-----Footer--------- 
	.footer {
		&__info {
			width: 380px;
		}
		&__social {
			margin-left: 0;
			margin-right: 0;
		}
		&__menu {
			margin-right: 30px;
		}
	}
	//-----Footer-End----- 
}

@media (max-width: $bp768) {
	//-----Header------ 

	.header__btn {
		display: none;
	}
	.menu__list {
		gap: 25px;
	}
	//-----Header-End-----
	.decor {
		padding: 50px 0;
		min-height: 320px;
		&__title {
			font-size: 45px;
		}
	}
	.gallery {
		&__btn {
			font-size: 10px;
		}
		&__items {
			grid-gap: 0;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(1, 1fr);
		}
	}
	.page-prev__title {
		font-size: 35px;
	}
	.inspiration{
		&__img {
			display: none;
		}
		& .container-fluid {
			padding: 0 15px;
		}
	}
	.partners {
		&__item {
			width: 250px;
		}
	}
	//-----Footer--------- 
	.footer {
		&__inner {
			flex-wrap: wrap;
			justify-content: start;
			gap: 40px;
		}
		&__info {
			width: 100%;
		}
		&__info-text {
			max-width: 100%;
		}
		&__form {
			flex-wrap: wrap;
			justify-content: end;
		}
	}
	//-----Footer-End----- 
}
@media (max-width: 650px) {
	.blog {
		&__categories {
			width: 100%;
		}
		&__categories-list {
			display: flex;
			column-gap: 15px;
			flex-wrap: wrap;
		}
		&__post {
			width: 100%;
		}
		&__social {
			margin-bottom: 0;
		}
	}
}
@media (max-width: 540px) {
	//-----Header----- 
	.logo {
		order: -1;
	}
	//-----Header-End----- 
	.slider-top{
		&__slide {
			padding: 40px 20px 80px;
		}
		&__title {
			font-size: 35px;
		}
	}
	.decor {
		&__title {
			font-size: 30px;
			&::before {
				width: 160px;
			}
		}
	}
	.about__title {
		font-size: 25px;
	}
	.about__popup {
		min-height: 200px;
	}
	.about__popup-play-link {
		display: block;
		width: 60px;
		& svg {
			width: 60px;
			height: 60px;
		}
	}
}

@media (max-width: $burgerBP) {
	.title {
		font-size: 30px;
	}
	.about__title,
	.inspiration__title {
		font-size: 25px;
	}
	//-----Header----- 
	.header__inner {
		flex-wrap: wrap;
		min-height: auto;
		height: 95px;
		position: relative;
		z-index: 110;
		&::before {
			content: "";
			position: absolute;
			height: 98px;
			width: 120%;
			background-color: #fff;
			top: 0;
			z-index: 120;
			left: 50%;
			transform: translateX(-50%);
			
		}
	}
	
	.menu {
		width: 100%;
		background-color: #fff;
		transform: translateY(-1000px);
		transition: transform 0.6s ease;
		margin-top: -2px;
		margin-right: -15px;
		
		&--open {
			transform: translateY(0);
		}
	}
	.menu__list {
		width: 100%;
		display: block;
		text-align: center;
		margin-left: -30px;
		background-color: #fff;
		// display: none;
	}
	.menu__list-link {
		display: block; 
		padding-bottom: 30px;
		padding-top: 15px;
		margin-bottom: 0;
		padding-left: 30px;
	}
	.logo, 
	.burger {
		position: relative;
		z-index: 130;
		margin: 40px 0;
	}
	.logo {
		margin: 0;
	}

	.burger {
		order: -1;
	}

	.active-header-link::before {
		display: none;
	}
	//-----Header-End----- 

	.new-collection {
		margin-bottom: 60px;
		&__title {
			&:before {
				width: 160px;
			}
		}
	}
	.collection__img {
		min-height: 200px;
	}
	.about__title {
		&::before {
			width: 160px;
		}
	}
	.inspiration {
		&__title {
			&:before {
				width: 160px;
			}
		}
	}
	.contact__title{
		margin-bottom: 50px;
		&::before {
			width: 160px;
			bottom: -24px;
		}
	} 
	.contact__social {
		gap: 20px;
	}
	.about__text p:not(:last-child) {
		margin-bottom: 20px;
	}
	.about__text {
		margin-bottom: 60px;
	}
	.partners {
		&__item {
			width: 80%;
		}
	}

}

@media (max-width: 380px) {
	.title {
		font-size: 24px;
	}
	.howitworks {
		&__item--bottom {
			top: 55%;
		}
		&__items-box {
			min-height: 570px;
		}
		&__item-title {
			font-size: 14px;
			margin-right: 0;
			margin-left: 0;
		}
		&__item-img {
			display: none;
		}
	}
	.blog-box__links {
		font-size: 10px;
	}
	.page-prev__title {
		font-size: 25px;
	}
		//-----Footer--------- 
		.footer {
			&__content {
				padding: 50px 0;
			}
			&__form {
				justify-content: center;
				gap: 15px;
			}
			&__social,
			&__menu {
				width: 100%;
			}
			&__social {
				text-align: center;
			}
			&__social-item {
				margin-right: 0px;
			}
			&__menu {
				text-align: center;
			}
			&__social-link {
				justify-content: center;
				
			}
			&__menu {
				margin-right: 0;
			}
			&__menu-link:hover {
				color: #000;
			}
			&__copyright {
				font-size: 12px;
			}
		}
	
		//-----Footer-End----- 
		.partners {
			&__item {
				width: 90%;
			}
		}
		.new-collection--about {
			.collection__info-title {
				font-size: 16px;
				text-align: center;
				&::before {
					width: 160px;
				}
			}
			.collection__info-text {
				font-size: 10px;
				text-align: center;
			} 
		}
}