.aside {
	width: 350px;
	margin-left: 30px;
	&__search {
		position: relative;
		margin-bottom: 44px;
	}
	&__search-input {
		display: block;
		width: 100%;
		opacity: 0.7;
		border: 1px solid rgba($color: $title, $alpha: 0.7) ;
		border-radius: 20px;
		padding: 6px 45px 6px 18px;
		
		&::placeholder {
			font-size: 14px;
			line-height: 2;
			color: #a1a1a1;
		}
	}
	&__search-btn {
		position: absolute;
		top: 11px;
		right: 16px;
		cursor: pointer;
	}
	.gallery__btn {
		margin: 0;
		display: inline-block;
		margin-bottom: 10px;
		padding: 0px 16px;
	}
}