.blog-1{
	width: 729px;
	.blog__blockquote {
		padding: 40px 42px 29px;
		text-align: left;
		font-stretch:semi-condensed;
		background-color: #fff;
		margin-bottom: 0;
	}
	.blog__blockquote-author {
		font-size: 16px;
		&::before {
			left: 0;
			transform: translateX(0);
		}
	}
	.blog__tags {
		margin-top: 75px;
		font-size: 20px;
		line-height: 1.55;
	}
}