.contact {
	margin-bottom: 100px;
	&__title {
		text-align: left;
		position: relative;
		margin-bottom: 80px;
		&::before {
			content: "";
			width: 200px;
			height: 2px;
			background-color: #979797;
			position: absolute;
			bottom: -40px;
		}
}
	&__content {
		max-width: 825px;
		margin-left: auto;
		margin-bottom: 100px;
}
	&__social {
		display: flex;
		gap: 36px;
		align-items: center;
		margin-bottom: 21px;
	}
	&__social-link {
		transition: all 0.3s ease;
		&--facebook:hover {
			color: #3b5998;
			transition: all 0.3s ease;
		}
		&--insta:hover {
			color: #e6683c;
		}
		&--pinterest:hover {
			color: #D32F2F;
			transition: all 0.3s ease;
		}
		&--whatsapp:hover {
			color: #40C351;
			transition: all 0.3s ease;
		}
		&--youtube:hover {
			color: #FF3D00;
			transition: all 0.3s ease;
		}
		&--youtube:hover svg path {
			fill: #FF3D00;
			transition: all 0.3s ease;
		}
	}
	&__text {
		line-height: 1.75;
		color: #A1A1A1;

		margin-bottom: 10px;
	}
	&__address {
		margin-bottom: 16px;
	}
	&__form {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__form-input {
		width: 407px;
		border: 1px solid #DFDFDF;
		border-radius: 20px;
		padding: 6px 17px;
		margin-bottom: 13px;
		&::placeholder {
			color: #A1A1A1;
			line-height: 1.75;
		}
	}
	&__form-area {
		width: 100%;
		border: 1px solid #DFDFDF;
		border-radius: 20px;
		padding: 6px 17px;

		margin-bottom: 20px;
	}
}
