.footer {
	&__content {
		background-color: #DFDFDF;
		padding: 61px 0 80px;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__info {
		width: 540px;
	}
	
	&__info-text {
		margin-bottom: 16px;
		max-width: 476px;
	}
	&__form {
		display: flex;
		gap: 9px;
		align-items: center;
	}
	&__form-input {
		padding: 6px 18px;
		border: 1px solid rgba($color: $title, $alpha: 0.7);
		border-radius: 21px;
		flex: 1 1 auto;
		background-color: transparent;
	}
	&__social {
		margin-left: 100px;
		margin-right: auto;
	}
	&__menu {
		margin-right: 85px;
	}
	&__social,
	&__menu {
		font-weight: 600;
		font-size: 14px;
		line-height: 2;
		color: $textColor;
	}
	&__social-item,
	&__menu-item {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
	&__social-link {
		display: flex;
		align-items: center;
		gap: 14px;
		
	}
	&__social-link {
		transition: all 0.3s ease;
		&--facebook:hover {
			color: #3b5998;
			transition: all 0.3s ease;
		}
		&--insta:hover {
			background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			transition: all 0.3s ease;
		}
		&--pinterest:hover {
			color: #D32F2F;
			transition: all 0.3s ease;
		}
		&--whatsapp:hover {
			color: #40C351;
			transition: all 0.3s ease;
		}
		&--youtube:hover {
			color: #FF3D00;
			transition: all 0.3s ease;
		}
		&--youtube:hover svg path {
			fill: #FF3D00;
			transition: all 0.3s ease;
		}
	}
	&__social-img {
		display: inline-block;
	}
	&__social-link--youtube {
		margin-left: -3px;
	}
	
	&__copyright {
		padding: 41px 0px;
		text-align: center;
		
		line-height: 1.75;
		color: #A1A1A1;
		background-color: $title;
	}
}