.header {
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 120px;
	}
	&__btn {
		background-color: transparent;
		cursor: pointer;
	}
}
.logo {
	margin: 0 auto;
}

.menu {
	margin-left: 32px;
	margin-right: 60px;
	&__list {
		display: flex;
		gap: 80px;
	}
	&__list-link {
		color: rgba(54, 56, 56, 0.9033);
		padding-bottom: 4px;
		transition: color 0.3s ease;
		&:hover {
			color: $accentColor;
		}
	}
}

.active-header-link {
	position: relative;
	&::before {
		content: "";
		display: block;
		height: 2px;
		background-color: rgba($color: $title, $alpha: 0.7) ;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

@import "burger.scss";