.inspiration {
	margin-bottom: 12px;
	min-height: 551px;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		height: 414px;
		background-image: url(../img/inspiration-bg.jpg);
		background-repeat: no-repeat;
		background-size: 100% 414px;
		bottom: 0;
		right: 0;
		left: 0;
	}
	&__inner {
		display: flex;
		gap: 78px;
		justify-content: center;
		align-items: flex-start;
		position: relative;
		z-index: 5;
	}
	&__img {
		height: 506px;
	}
	&__content {
		max-width: 825px;
	}
	&__title {
		margin-bottom: 41px;
		text-align: left;
		position: relative;
		&::before {
			content: "";
			width: 200px;
			height: 2px;
			background-color: #979797;
			position: absolute;
			bottom: -20px;
		}
	}
	&__text {
		margin-bottom: 64px;
	}
	&__item:not(:last-child) {
		margin-bottom: 33px;
	}
	&__item-content {
		display: flex;
		justify-content: space-between;
		padding-bottom: 14px;
		margin-bottom: 0px;
		border-bottom: 2px solid #fff;
	}

	&__line {
		height: 2px;
		background-color: $title;
		border-radius: 4px;
		margin-top: -2px;
	}
}