.rightsite-menu {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
	max-width: 694px;
	background-color: #fff;
	padding: 41px 47px;
	box-shadow: -2px 3px 17px 0px #000;
	&.rightsite-menu--close {
		transform: translateX(500%);
		transition: all 0.6s ease;
	}
	&__close {
		cursor: pointer;
		margin-bottom: 60px;
	}
	&__logo {
		display: inline-block;
		margin-bottom: 41px;

		& img {
			max-width: 485px;
		}
	}
	&__content {
		text-align: center;
		max-width: 485px;
		margin-right: 48px;
	}
	&__inner {
		margin-left: 73px;
	}
	&__title {
		margin-bottom: 40px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 252px;
			height: 1px;
			background-color: #6D7278;
			left: 50%;
			transform: translateX(-50%);
			bottom: -20px;
		}
	}
	&__text {
		margin-bottom: 75px;
	}
	
}