.slider-top {
	max-height: 722px;
	margin-bottom: 226px;
	&__slide {
		display: flex;
		gap: 20px;
		justify-content: center;
		align-items: center;
	}
	&__img {
		margin-left: -10%;
		position: relative;
		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 458px;
			height: 717px;
			background-color: #F1D152;
			left: 50%;
			transform: translateX(-50%);
			bottom: 13px;
		}
		& img {
			position: relative;
			z-index: 2;
		}
	}
	&__info {
		max-width: 638px;
	}
	&__title {
		font-family: 'Montserrat';
		font-weight: 700;
		font-size: 110px;
		line-height: 1.2;
		color: $title;
		margin-bottom: 53px;
		
		position: relative;
		&::before {
			content: "";
			display: block;
			width: 185px;
			height: 1px;
			background-color: #979797;
			bottom: -26px;
			position: absolute;
		}
	}
	&__controls {
		display: block;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}

}
.swiper-pagination-bullets {
	display: flex;
	gap: 30px;
}
.swiper-pagination-bullet {
	cursor: pointer;
	flex: 0 0 8px;
	height: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	&::after {
		content: "";
		width: 8px;
		height: 8px;
		background-color: $title;
		border-radius: 50%;
		transition: background-color 0.3 ease;
	}
}

.swiper-pagination-bullet-active {
	&::after {
		background-color: $accentColor;
	}
}